@charset "utf-8";
/* CSS Document */

body {
	background-color:#343434;
	color:#fefefe; }

#logo {
	font-size:36px; }
	
.link {
	font-size:24px;
	color:#000; }
	
.copy {
	font-size:18px; }
	
.navigation {
	list-style-type:none; }
	
.highlight {
	background-color:#F60;
	color:#333 !important; }
	
li.higlight a.link {
	color:#333 !important; }